.basic_wrapper {
    margin-left: 3%;
    margin-right: 3%;
}
.block_container {
    text-align:center;
}
.block {
    //border:1px groove blue;
    margin-bottom:20px;
    //background-color: lightblue;
}
.pick_primer_selection {
    float: left;
    margin-left: 30px;
}
.pick_primer_selection {
    float: left;
    margin-left: 30px;
}
.basic_settings_container {
    vertical-align: top;
}
.basic_settings_block {
    vertical-align: top;
}
.settings_table {
    table-layout: fixed; 
    width: 100%;
}
td {
    padding-top:5px;
}
.nav_container {
    width:100%;
}
select.fancy {
    display: block;
    //margin: 0 auto;
    background-color: white;
}