<h3>Additional Parameters</h3>

<p-autoComplete [(ngModel)]="selectedParams" 
                [suggestions]="filteredParamsMultiple" 
                (completeMethod)="filterParamMultiple($event)" 
                [minLength]="1" placeholder="Parameters" 
                field="name" 
                [multiple]="true" 
                styleClass="autocomp_input">
</p-autoComplete>

<table class="param_table">
  <tr *ngFor="let p of selectedParams">
  
    <!-- Form type is input text or input number -->
    <td *ngIf="p.form_type == 'input_text' || p.form_type == 'input_number'">
      <label for="{{p.name}}">
        {{p.name}} ({{p.type}})
        <button md-icon-button (click)="showDescription(p.description)" class="help-button">
          <md-icon>help</md-icon>
        </button>
      </label>
    </td>
    <!-- Form type is input text -->
    <td *ngIf="p.form_type == 'input_text'">
      <input type="text" pInputText placeholder="{{p.default_value}}" id="{{p.name}}" (ngModelChange)="onInputTextChange($event)"> 
    </td>
    <!-- Form type is input number -->
    <td *ngIf="p.form_type == 'input_number'">
      <input type="number" pInputText placeholder="{{p.default_value}}" id="{{p.name}}" > 
    </td>

    <!-- Form type is checkbox -->
    <td title="{{p.description}}" *ngIf="p.form_type == 'checkbox'">
      <md-checkbox align="right">{{p.name}}</md-checkbox>
      <button md-icon-button (click)="showDescription(p.description)" class="help-button">
        <md-icon>help</md-icon>
      </button>
    </td>
    <td *ngIf="p.form_type == 'checkbox'"> </td>

  </tr>
</table>



