.param_table {
  overflow-x:auto;
}
.autocomp_input {
  width: 100%;
}
.help-button-wrapper {
  text-align: center;
}
.help-button {
  font-size: 1.0rem;
  width: 3px; 
  min-width: 3px;
  text-align: left;
}
