.submit_button {
  text-align: right; 
  padding-right:10%;
}
.reset_button {
  text-align: left; 
  padding-left:10%;
}
.settings_table {
  table-layout: fixed; 
  width: 100%;
}

#canvasc{
  height: 100%;
  width: 100%;
  max-width: 800px;
}