<form [formGroup]="settingForm" class="example-form">
  <!-- sequence template input -->
  <mat-form-field class="example-full-width">
    <textarea matInput 
              formControlName="SEQUENCE_TEMPLATE_INPUT" 
              id="SEQUENCE_TEMPLATE_INPUT" 
              rows="5" 
              placeholder="Paste sequence template here" 
              autofocus>            
    </textarea>

    <mat-hint align="end">
      Length: {{p3Service.p3Input.SEQUENCE_TEMPLATE.length}}, GC Content: {{p3Service.gc_content}}%
    </mat-hint>

    <!-- Sequence template error messages -->
    <mat-error *ngIf="settingForm.get('SEQUENCE_TEMPLATE_INPUT').hasError('invalidSequence')">
      Invalid Sequence. 
      Wrong base code of '{{settingForm.get('SEQUENCE_TEMPLATE_INPUT').getError('invalidSequence').invalidCode}}'
      at {{settingForm.get('SEQUENCE_TEMPLATE_INPUT').getError('invalidSequence').invalidPos}}
    </mat-error>
    <mat-error *ngIf="settingForm.get('SEQUENCE_TEMPLATE_INPUT').hasError('invalidRegions')">
      Input the correct regions.
    </mat-error>
    <mat-error *ngIf="settingForm.get('SEQUENCE_TEMPLATE_INPUT').hasError('tooLongSequence')">
      The sequence has to be less than 5000 base pairs.
    </mat-error>

  </mat-form-field>
  <br>

  <h3>Basic Settings</h3>
  <table class="settings_table">
    <tr>
      <td>
        <mat-checkbox formControlName="PRIMER_PICK_LEFT_PRIMER" align="end">Pick Left Primer</mat-checkbox>
      </td>
      <td colspan="2">
        <div *ngIf="!settingForm.get('PRIMER_PICK_LEFT_PRIMER').value">
          <mat-form-field class="pick-condition-input">
            <input matInput type="text" formControlName="SEQUENCE_PRIMER" placeholder="Use this left primer">
            <!-- error message -->
            <mat-error *ngIf="settingForm.get('SEQUENCE_PRIMER').hasError('invalidSequence')" style="size: 2px">
              <span style="font-size: 10px;">
                Invalid Sequence. 
                Wrong base code of '{{settingForm.get('SEQUENCE_PRIMER').getError('invalidSequence').invalidCode}}'
                at {{settingForm.get('SEQUENCE_PRIMER').getError('invalidSequence').invalidPos}}
              </span>
            </mat-error>
          </mat-form-field>
          <button mat-icon-button (click)="dDialogService.showDescription('SEQUENCE_PRIMER')" class="help-button">
            <mat-icon>help</mat-icon>
          </button>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <mat-checkbox formControlName="PRIMER_PICK_INTERNAL_OLIGO" align="end">Pick Internal Oligo</mat-checkbox>
      </td>
      <td colspan="2">
        <div *ngIf="!settingForm.get('PRIMER_PICK_INTERNAL_OLIGO').value">
          <mat-form-field class="pick-condition-input">
            <input matInput type="text" formControlName="SEQUENCE_PRIMER" placeholder="Use this left primer">
            <!-- error message -->
            <mat-error *ngIf="settingForm.get('SEQUENCE_PRIMER').hasError('invalidSequence')" style="size: 2px">
              <span style="font-size: 10px;">
                Invalid Sequence. 
                Wrong base code of '{{settingForm.get('SEQUENCE_PRIMER').getError('invalidSequence').invalidCode}}'
                at {{settingForm.get('SEQUENCE_PRIMER').getError('invalidSequence').invalidPos}}
              </span>
            </mat-error>
          </mat-form-field>
          <button mat-icon-button (click)="dDialogService.showDescription('SEQUENCE_PRIMER')" class="help-button">
            <mat-icon>help</mat-icon>
          </button>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <mat-checkbox formControlName="PRIMER_PICK_LEFT_PRIMER" align="end">Pick Left Primer</mat-checkbox>
      </td>
      <td colspan="2">
        <div *ngIf="!settingForm.get('PRIMER_PICK_LEFT_PRIMER').value">
          <mat-form-field class="pick-condition-input">
            <input matInput type="text" formControlName="SEQUENCE_PRIMER" placeholder="Use this left primer">
            <!-- error message -->
            <mat-error *ngIf="settingForm.get('SEQUENCE_PRIMER').hasError('invalidSequence')" style="size: 2px">
              <span style="font-size: 10px;">
                Invalid Sequence. 
                Wrong base code of '{{settingForm.get('SEQUENCE_PRIMER').getError('invalidSequence').invalidCode}}'
                at {{settingForm.get('SEQUENCE_PRIMER').getError('invalidSequence').invalidPos}}
              </span>
            </mat-error>
          </mat-form-field>
          <button mat-icon-button (click)="dDialogService.showDescription('SEQUENCE_PRIMER')" class="help-button">
            <mat-icon>help</mat-icon>
          </button>
        </div>
      </td>
    </tr>
  </table>

</form>

