<!-- sequence template input -->
<form class="example-form">
  <md-input-container class="example-full-width">
    <textarea mdInput [(ngModel)]="SEQUENCE_TEMPLATE_INPUT" (ngModelChange)="calcParam()" name="SEQUENCE_TEMPLATE_INPUT" rows="5" placeholder="Paste sequence template here" autofocus></textarea>
    <md-hint align="end">Length: {{sequence_length}}, GC Content: {{gc_content}}%</md-hint>

  </md-input-container>
</form>
<md-error *ngIf="!isSequenceOk">
  Wrong Sequence: Paste correct sequence
</md-error>


<!-- Settings -->
<h4>Settings</h4>
<form class="example-form">
  <table class="settings_table">
    <tr>
      <td>
        <div>
          <md-checkbox [(ngModel)]="PRIMER_PICK_LEFT_PRIMER_INPUT" name="PRIMER_PICK_LEFT_PRIMER" align="end">Pick Left Primer</md-checkbox>
        </div> &nbsp;
        <div *ngIf="!PRIMER_PICK_LEFT_PRIMER_INPUT">
          <md-input-container class="pick-condition-input">
            <input mdInput type="text" [(ngModel)]="SEQUENCE_PRIMER_INPUT" name="SEQUENCE_PRIMER" placeholder="Use this left primer">
          </md-input-container>
        </div>
      </td>
      <td>
        <div>
          <md-checkbox [(ngModel)]="PRIMER_PICK_INTERNAL_OLIGO_INPUT" name="PRIMER_PICK_INTERNAL_OLIGO" align="end">Pick Internal Oligo</md-checkbox>
        </div> &nbsp;
        <div *ngIf="!PRIMER_PICK_INTERNAL_OLIGO_INPUT">
          <md-input-container class="pick-condition-input">
            <input mdInput type="text" [(ngModel)]="SEQUENCE_INTERNAL_OLIGO_INPUT" name="SEQUENCE_INTERNAL_OLIGO" placeholder="Use this internal oligo">
          </md-input-container>
        </div>
      </td>
      <td>
        <div>
          <md-checkbox [(ngModel)]="PRIMER_PICK_RIGHT_PRIMER_INPUT" name="PRIMER_PICK_RIGHT_PRIMER" align="end">Pick Right Primer</md-checkbox>
        </div> &nbsp;
        <div *ngIf="!PRIMER_PICK_RIGHT_PRIMER_INPUT">
          <md-input-container class="pick-condition-input">
            <input mdInput type="text" [(ngModel)]="SEQUENCE_PRIMER_REVCOMP_INPUT" name="SEQUENCE_PRIMER_REVCOMP" placeholder="Use this right primer">
          </md-input-container>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_PRODUCT_SIZE_MIN">Product Size</label>
      </td>
      <td colspan="2">
        <table>
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" [(ngModel)]="PRIMER_PRODUCT_SIZE_MIN_INPUT" id="PRIMER_PRODUCT_SIZE_MIN" name="PRIMER_PRODUCT_SIZE_MIN" placeholder="Min">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" [(ngModel)]="PRIMER_PRODUCT_SIZE_MAX_INPUT" id="PRIMER_PRODUCT_SIZE_MAX" name="PRIMER_PRODUCT_SIZE_MAX" placeholder="Max">
              </md-input-container>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <label for="SEQUENCE_TARGET">Targets</label>
      </td>
      <td colspan="2">
        <md-input-container class="example-full-width">
          <input mdInput type="text" [(ngModel)]="SEQUENCE_TARGET_INPUT" id="SEQUENCE_TARGET" name="SEQUENCE_TARGET">
          <md-hint>&lt;start&gt;-&lt;length&gt;  e.g. 37-21 60-10</md-hint>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <label for="SEQUENCE_EXCLUDED_REGION">Excluded Regions</label>
      </td>
      <td colspan="2">
        <md-input-container class="example-full-width">
          <input mdInput type="text" [(ngModel)]="SEQUENCE_EXCLUDED_REGION_INPUT" id="SEQUENCE_INTERNAL_REGION" name="SEQUENCE_EXCLUDED_REGION">
          <md-hint>&lt;start&gt;-&lt;length&gt;  e.g. 37-21 60-10</md-hint>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_MIN_TM">Primer Melting Temp (Tm)</label>
      </td>
      <td colspan="2">
        <table>
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" [(ngModel)]="PRIMER_MIN_TM_INPUT" id="PRIMER_MIN_TM" name="PRIMER_MIN_TM" placeholder="Min">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" [(ngModel)]="PRIMER_OPT_TM_INPUT" id="PRIMER_OPT_TM" name="PRIMER_OPT_TM" placeholder="Opt">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" [(ngModel)]="PRIMER_MAX_TM_INPUT" id="PRIMER_MAX_TM" name="PRIMER_MAX_TM" placeholder="Max">
              </md-input-container>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_PAIR_MAX_DIFF_TM">Max Tm Difference</label>
      </td>
      <td colspan="2">
        <md-input-container class="max-diff-tm-input">
          <input mdInput type="number" [(ngModel)]="PRIMER_PAIR_MAX_DIFF_TM_INPUT" id="PRIMER_PAIR_MAX_DIFF_TM" name="PRIMER_PAIR_MAX_DIFF_TM">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_SALT_CORRECTIONS">Salt Correction Formula</label>
      </td>
      <td colspan="2">
        <md-select [(ngModel)]="PRIMER_SALT_CORRECTIONS_INPUT" name="option" class="salt-corrections-select">
          <md-option *ngFor="let option of PRIMER_SALT_CORRECTIONS_INPUT_OPTIONS" [value]="option.value">
            {{option.viewValue}}
          </md-option>
        </md-select>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_TM_FORMULA">Table of thermodynamic parameters</label>
      </td>
      <td colspan="2">
        <md-select [(ngModel)]="PRIMER_TM_FORMULA_INPUT" name="option" class="tm-formula-select">
          <md-option *ngFor="let option of PRIMER_TM_FORMULA_INPUT_OPTIONS" [value]="option.value">
            {{option.viewValue}}
          </md-option>
        </md-select>
      </td>
    </tr>

  </table>
</form>