td {
  padding-top: 10px;
  padding-right: 10px;
}
hr { 
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
textarea {
    height: auto;
}

.pick_primer_selection {
    float: left;
    margin-left: 30px;
}
.pick_primer_selection {
    float: left;
    margin-left: 30px;
}
.settings_table {
    table-layout: fixed; 
    width: 100%;
}


.example-form {
  width: 100%;
}
.example-full-width {
  width: 100%;
}



.pick-condition-input {
  width: 70%;
}
.max-diff-tm-input {
  width: 100%;
  max-width: 200px;
}
.salt-corrections-select,
.tm-formula-select {
  width: 100%;
  max-width: 300px;
}
.pick-option-container {
  overflow: hidden;
  height: 140px;
  padding-top: 15px;
}

    .my-drop-zone { border: dotted 3px lightgray; width: 40%;}
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }