<form [formGroup]="settingForm" class="example-form">
  <!-- sequence template input -->
  <md-input-container class="example-full-width">
    <textarea mdInput formControlName="SEQUENCE_TEMPLATE_INPUT" id="SEQUENCE_TEMPLATE_INPUT" 
              rows="5" placeholder="Paste sequence template here" autofocus></textarea>
    <md-hint align="end">Length: {{sequence_length}}, GC Content: {{gc_content}}%</md-hint>
  </md-input-container>

  <md-error *ngIf="settingForm.get('SEQUENCE_TEMPLATE_INPUT').hasError('invalidSequence')">
    Invalid Sequence. 
    Wrong base code of '{{settingForm.get('SEQUENCE_TEMPLATE_INPUT').getError('invalidSequence').invalidCode}}'
    at {{settingForm.get('SEQUENCE_TEMPLATE_INPUT').getError('invalidSequence').invalidPos}}
  </md-error>

  <!-- Settings -->
  <h3>Settings</h3>
  <table class="settings_table">
    <tr>
      <td>

        <div class="pick-option-container">
          <div>
            <md-checkbox formControlName="PRIMER_PICK_LEFT_PRIMER" align="end">Pick Left Primer</md-checkbox>
          </div> &nbsp;
          <div *ngIf="!settingForm.get('PRIMER_PICK_LEFT_PRIMER').value">
            <md-input-container class="pick-condition-input">
              <input mdInput type="text" formControlName="SEQUENCE_PRIMER" placeholder="Use this left primer">
            </md-input-container>
            <md-error *ngIf="settingForm.get('SEQUENCE_PRIMER').hasError('invalidSequence')">
              Invalid Sequence. 
              Wrong base code of '{{settingForm.get('SEQUENCE_TEMPLATE_INPUT').getError('invalidSequence').invalidCode}}'
              at {{settingForm.get('SEQUENCE_TEMPLATE_INPUT').getError('invalidSequence').invalidPos}}
            </md-error>
          </div>
        </div>
      </td>

      <td>
        <div class="pick-option-container">
          <div>
            <md-checkbox formControlName="PRIMER_PICK_INTERNAL_OLIGO" align="end">Pick Internal Oligo</md-checkbox>
          </div> &nbsp;
          <div *ngIf="!settingForm.get('PRIMER_PICK_INTERNAL_OLIGO').value">
            <md-input-container class="pick-condition-input">
              <input mdInput type="text" formControlName="SEQUENCE_INTERNAL_OLIGO" placeholder="Use this internal oligo">
            </md-input-container>
            <md-error *ngIf="settingForm.get('SEQUENCE_INTERNAL_OLIGO').hasError('invalidSequence')">
              Invalid Sequence. 
              Wrong base code of '{{settingForm.get('SEQUENCE_TEMPLATE_INPUT').getError('invalidSequence').invalidCode}}'
              at {{settingForm.get('SEQUENCE_TEMPLATE_INPUT').getError('invalidSequence').invalidPos}}
            </md-error>
          </div>
        </div>
      </td>

      <td>
        <div class="pick-option-container">
          <div>
            <md-checkbox formControlName="PRIMER_PICK_RIGHT_PRIMER" align="end">Pick Right Primer</md-checkbox>
          </div> &nbsp;
          <div *ngIf="!settingForm.get('PRIMER_PICK_RIGHT_PRIMER').value">
            <md-input-container class="pick-condition-input">
              <input mdInput type="text" formControlName="SEQUENCE_PRIMER_REVCOMP" placeholder="Use this right primer">
            </md-input-container>
            <md-error *ngIf="settingForm.get('SEQUENCE_PRIMER_REVCOMP').hasError('invalidSequence')">
              Invalid Sequence. 
              Wrong base code of '{{settingForm.get('SEQUENCE_TEMPLATE_INPUT').getError('invalidSequence').invalidCode}}'
              at {{settingForm.get('SEQUENCE_TEMPLATE_INPUT').getError('invalidSequence').invalidPos}}
            </md-error>
          </div>
        </div>
      </td>
    </tr>
  </table>
</form>