<form [formGroup]="settingForm" class="example-form">
  <!-- sequence template input -->
  <md-input-container class="example-full-width">
    <textarea mdInput 
              formControlName="SEQUENCE_TEMPLATE_INPUT" 
              id="SEQUENCE_TEMPLATE_INPUT" 
              rows="5" 
              placeholder="Paste sequence template here" 
              autofocus>            
    </textarea>
    <md-hint align="end">
      Length: {{p3Service.p3Input.SEQUENCE_TEMPLATE.length}}, GC Content: {{p3Service.gc_content}}%
    </md-hint>

    <!-- Sequence template error messages -->
    <md-error *ngIf="settingForm.get('SEQUENCE_TEMPLATE_INPUT').hasError('invalidSequence')">
      Invalid Sequence. 
      Wrong base code of '{{settingForm.get('SEQUENCE_TEMPLATE_INPUT').getError('invalidSequence').invalidCode}}'
      at {{settingForm.get('SEQUENCE_TEMPLATE_INPUT').getError('invalidSequence').invalidPos}}
    </md-error>
    <md-error *ngIf="settingForm.get('SEQUENCE_TEMPLATE_INPUT').hasError('invalidRegions')">
      Input the correct regions.
    </md-error>
  </md-input-container>

  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".fa, .fasta">


  <!-- Settings -->
  <h3>Settings</h3>
  <table class="settings_table">
    <tr>
      <td>

        <div class="pick-option-container">
          <div>
            <md-checkbox formControlName="PRIMER_PICK_LEFT_PRIMER" align="end">Pick Left Primer</md-checkbox>
          </div> &nbsp;
          <div *ngIf="!settingForm.get('PRIMER_PICK_LEFT_PRIMER').value">
            <md-input-container class="pick-condition-input">
              <input mdInput type="text" formControlName="SEQUENCE_PRIMER" placeholder="Use this left primer">
              <!-- error message -->
              <md-error *ngIf="settingForm.get('SEQUENCE_PRIMER').hasError('invalidSequence')" style="size: 2px">
                <span style="font-size: 10px;">
                  Invalid Sequence. 
                  Wrong base code of '{{settingForm.get('SEQUENCE_PRIMER').getError('invalidSequence').invalidCode}}'
                  at {{settingForm.get('SEQUENCE_PRIMER').getError('invalidSequence').invalidPos}}
                </span>
              </md-error>
            </md-input-container>
            <button md-icon-button (click)="dDialogService.showDescription('SEQUENCE_PRIMER')" class="help-button">
              <md-icon>help</md-icon>
            </button>
          </div>
        </div>
      </td>

      <td>
        <div class="pick-option-container">
          <div>
            <md-checkbox formControlName="PRIMER_PICK_INTERNAL_OLIGO" align="end">Pick Internal Oligo</md-checkbox>
          </div> &nbsp;
          <div *ngIf="!settingForm.get('PRIMER_PICK_INTERNAL_OLIGO').value">
            <md-input-container class="pick-condition-input">
              <input mdInput type="text" formControlName="SEQUENCE_INTERNAL_OLIGO" placeholder="Use this internal oligo">
              <md-error *ngIf="settingForm.get('SEQUENCE_INTERNAL_OLIGO').hasError('invalidSequence')">
                Invalid Sequence. 
                Wrong base code of '{{settingForm.get('SEQUENCE_INTERNAL_OLIGO').getError('invalidSequence').invalidCode}}'
                at {{settingForm.get('SEQUENCE_INTERNAL_OLIGO').getError('invalidSequence').invalidPos}}
              </md-error>
            </md-input-container>
            <button md-icon-button (click)="dDialogService.showDescription('SEQUENCE_INTERNAL_OLIGO')" class="help-button">
              <md-icon>help</md-icon>
            </button>
          </div>
        </div>
      </td>

      <td>
        <div class="pick-option-container">
          <div>
            <md-checkbox formControlName="PRIMER_PICK_RIGHT_PRIMER" align="end">Pick Right Primer</md-checkbox>
          </div> &nbsp;
          <div *ngIf="!settingForm.get('PRIMER_PICK_RIGHT_PRIMER').value">
            <md-input-container class="pick-condition-input">
              <input mdInput type="text" formControlName="SEQUENCE_PRIMER_REVCOMP" placeholder="Use this right primer">
              <md-error *ngIf="settingForm.get('SEQUENCE_PRIMER_REVCOMP').hasError('invalidSequence')">
                Invalid Sequence. 
                Wrong base code of '{{settingForm.get('SEQUENCE_PRIMER_REVCOMP').getError('invalidSequence').invalidCode}}'
                at {{settingForm.get('SEQUENCE_PRIMER_REVCOMP').getError('invalidSequence').invalidPos}}
              </md-error>  
            </md-input-container>
            <button md-icon-button (click)="dDialogService.showDescription('SEQUENCE_PRIMER_REVCOMP')" class="help-button">
              <md-icon>help</md-icon>
            </button>
          </div>
        </div>
      </td>
      
    </tr>

    <tr>
      <td>
        <label for="PRIMER_PRODUCT_SIZE_MIN">Product Size</label>
        <button md-icon-button (click)="dDialogService.showDescription('PRIMER_PRODUCT_SIZE_RANGE')" class="help-button">
          <md-icon>help</md-icon>
        </button>
      </td>
      <td colspan="2">
        <table>
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" id="PRIMER_PRODUCT_SIZE_MIN" formControlName="PRIMER_PRODUCT_SIZE_MIN" placeholder="Min">
                <md-error *ngIf="settingForm.get('PRIMER_PRODUCT_SIZE_MIN').hasError('invalidMin')">
                  Invalid min. 
                </md-error>  
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" id="PRIMER_PRODUCT_SIZE_MAX" formControlName="PRIMER_PRODUCT_SIZE_MAX" placeholder="Max">
                <md-error *ngIf="settingForm.get('PRIMER_PRODUCT_SIZE_MAX').hasError('invalidMax')">
                  Invalid max. 
                </md-error>  
              </md-input-container>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <label for="SEQUENCE_TARGET">Targets</label>
        <button md-icon-button (click)="dDialogService.showDescription('SEQUENCE_TARGET')" class="help-button">
          <md-icon>help</md-icon>
        </button>
      </td>
      <td colspan="2">
        <md-input-container class="example-full-width">
          <input mdInput type="text" id="SEQUENCE_TARGET" formControlName="SEQUENCE_TARGET">
          <md-hint>&lt;start&gt;-&lt;length&gt;  e.g. 37-21 60-10 or surround with [] in sequence template</md-hint>
          <md-error *ngIf="settingForm.get('SEQUENCE_TARGET').hasError('invalidIntervalList')">
            Invalid targets
          </md-error>  
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <label for="SEQUENCE_EXCLUDED_REGION">Excluded Regions</label>
        <button md-icon-button (click)="dDialogService.showDescription('SEQUENCE_EXCLUDED_REGION')" class="help-button">
          <md-icon>help</md-icon>
        </button>
      </td>
      <td colspan="2">
        <md-input-container class="example-full-width">
          <input mdInput type="text" id="SEQUENCE_EXCLUDED_REGION" formControlName="SEQUENCE_EXCLUDED_REGION">
          <md-hint>&lt;start&gt;-&lt;length&gt;  e.g. 37-21 60-10 or surround with () in sequence template</md-hint>
          <md-error *ngIf="settingForm.get('SEQUENCE_EXCLUDED_REGION').hasError('invalidIntervalList')">
            Invalid targets
          </md-error>  
        </md-input-container>
      </td>
    </tr>

    <tr>
      <td>
        <label for="PRIMER_MIN_TM">Primer Melting Temp (Tm)</label>
        <button md-icon-button (click)="dDialogService.showDescription('PRIMER_MIN_TM')" class="help-button">
          <md-icon>help</md-icon>
        </button>
      </td>
      <td colspan="2">
        <table>
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" id="PRIMER_MIN_TM" formControlName="PRIMER_MIN_TM" placeholder="Min">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" id="PRIMER_OPT_TM" formControlName="PRIMER_OPT_TM" placeholder="Opt">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" id="PRIMER_MAX_TM" formControlName="PRIMER_MAX_TM" placeholder="Max">
              </md-input-container>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_PAIR_MAX_DIFF_TM">Max Tm Difference</label>
        <button md-icon-button (click)="dDialogService.showDescription('PRIMER_PAIR_MAX_DIFF_TM')" class="help-button">
          <md-icon>help</md-icon>
        </button>
      </td>
      <td colspan="2">
        <md-input-container class="max-diff-tm-input">
          <input mdInput type="number" id="PRIMER_PAIR_MAX_DIFF_TM" formControlName="PRIMER_PAIR_MAX_DIFF_TM">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_SALT_CORRECTIONS">Salt Correction Formula</label>
        <button md-icon-button (click)="dDialogService.showDescription('PRIMER_SALT_CORRECTIONS')" class="help-button">
          <md-icon>help</md-icon>
        </button>
      </td>
      <td colspan="2">
        <md-select formControlName="PRIMER_SALT_CORRECTIONS" class="salt-corrections-select">
          <md-option *ngFor="let option of p3Service.PRIMER_SALT_CORRECTIONS_INPUT_OPTIONS" [value]="option.value">
            {{option.viewValue}}
          </md-option>
        </md-select>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_TM_FORMULA">Table of thermodynamic parameters</label>
        <button md-icon-button (click)="dDialogService.showDescription('PRIMER_TM_FORMULA')" class="help-button">
          <md-icon>help</md-icon>
        </button>
      </td>
      <td colspan="2">
        <md-select formControlName="PRIMER_TM_FORMULA" class="tm-formula-select">
          <md-option *ngFor="let option of p3Service.PRIMER_TM_FORMULA_INPUT_OPTIONS" [value]="option.value">
            {{option.viewValue}}
          </md-option>
        </md-select>
      </td>
    </tr>

  </table>
</form>

