<nav>
<span class="title">{{title}} <small>{{version}}</small></span>
</nav>

<br>
<!-- sequence template input -->
<form class="example-form">
  <md-input-container class="example-full-width">
    <textarea mdInput [(ngModel)]="SEQUENCE_TEMPLATE_INPUT" (ngModelChange)="calcParam()" name="SEQUENCE_TEMPLATE_INPUT" rows="5" placeholder="Paste sequence template here" autofocus></textarea>
    <md-hint align="end">Length: {{sequence_length}}, GC Content: {{gc_content}}%</md-hint>

  </md-input-container>
</form>
<md-error *ngIf="!isSequenceOk">
  Wrong Sequence: Paste correct sequence
</md-error>


<!-- Settings -->
<h4>Settings</h4>
<form class="example-form">
  <table class="settings_table">
    <tr>
      <td>
        <div>
          <md-checkbox [(ngModel)]="PRIMER_PICK_LEFT_PRIMER" name="PRIMER_PICK_LEFT_PRIMER" align="end">Pick Left Primer</md-checkbox>
        </div> &nbsp;
        <div *ngIf="!PRIMER_PICK_LEFT_PRIMER">
          <md-input-container class="pick-condition-input">
            <input mdInput type="text" [(ngModel)]="SEQUENCE_PRIMER" name="SEQUENCE_PRIMER" placeholder="Use this left primer">
          </md-input-container>
        </div>
      </td>
      <td>
        <div>
          <md-checkbox [(ngModel)]="PRIMER_PICK_INTERNAL_OLIGO" name="PRIMER_PICK_INTERNAL_OLIGO" align="end">Pick Internal Oligo</md-checkbox>
        </div> &nbsp;
        <div *ngIf="!PRIMER_PICK_INTERNAL_OLIGO">
          <md-input-container class="pick-condition-input">
            <input mdInput type="text" [(ngModel)]="SEQUENCE_INTERNAL_OLIGO" name="SEQUENCE_INTERNAL_OLIGO" placeholder="Use this internal oligo">
          </md-input-container>
        </div>
      </td>
      <td>
        <div>
          <md-checkbox [(ngModel)]="PRIMER_PICK_RIGHT_PRIMER" name="PRIMER_PICK_RIGHT_PRIMER" align="end">Pick Right Primer</md-checkbox>
        </div> &nbsp;
        <div *ngIf="!PRIMER_PICK_RIGHT_PRIMER">
          <md-input-container class="pick-condition-input">
            <input mdInput type="text" [(ngModel)]="SEQUENCE_PRIMER_REVCOMP" name="SEQUENCE_PRIMER_REVCOMP" placeholder="Use this right primer">
          </md-input-container>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_PRODUCT_SIZE_MIN">Product Size</label>
      </td>
      <td colspan="2">
        <table>
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" [(ngModel)]="PRIMER_PRODUCT_SIZE_MIN" id="PRIMER_PRODUCT_SIZE_MIN" name="PRIMER_PRODUCT_SIZE_MIN" placeholder="Min">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" [(ngModel)]="PRIMER_PRODUCT_SIZE_MAX" id="PRIMER_PRODUCT_SIZE_MAX" name="PRIMER_PRODUCT_SIZE_MAX" placeholder="Max">
              </md-input-container>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <label for="SEQUENCE_TARGET">Targets</label>
      </td>
      <td colspan="2">
        <md-input-container class="example-full-width">
          <input mdInput type="text" [(ngModel)]="SEQUENCE_TARGET" id="SEQUENCE_TARGET" name="SEQUENCE_TARGET">
          <md-hint>E.g. (&lt;start&gt;,&lt;length&gt;),(37,21),(60,10)</md-hint>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <label for="SEQUENCE_INTERNAL_EXCLUDED_REGION">Excluded Regions</label>
      </td>
      <td colspan="2">
        <md-input-container class="example-full-width">
          <input mdInput type="text" [(ngModel)]="SEQUENCE_INTERNAL_EXCLUDED_REGION" id="SEQUENCE_INTERNAL_EXCLUDED_REGION" name="SEQUENCE_INTERNAL_EXCLUDED_REGION">
          <md-hint>E.g. (&lt;start&gt;,&lt;length&gt;),(37,21),(60,10)</md-hint>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_MIN_TM">Primer Melting Temp (Tm)</label>
      </td>
      <td colspan="2">
        <table>
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" [(ngModel)]="PRIMER_MIN_TM" id="PRIMER_MIN_TM" name="PRIMER_MIN_TM" placeholder="Min">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" [(ngModel)]="PRIMER_OPT_TM" id="PRIMER_OPT_TM" name="PRIMER_OPT_TM" placeholder="Opt">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput type="number" [(ngModel)]="PRIMER_MAX_TM" id="PRIMER_MAX_TM" name="PRIMER_MAX_TM" placeholder="Max">
              </md-input-container>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_PAIR_MAX_DIFF_TM">Max Tm Difference</label>
      </td>
      <td colspan="2">
        <md-input-container class="max-diff-tm-input">
          <input mdInput type="number" [(ngModel)]="PRIMER_PAIR_MAX_DIFF_TM" id="PRIMER_PAIR_MAX_DIFF_TM" name="PRIMER_PAIR_MAX_DIFF_TM">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_SALT_CORRECTIONS">Salt Correction Formula</label>
      </td>
      <td colspan="2">
        <md-select [(ngModel)]="PRIMER_SALT_CORRECTIONS" name="option" class="salt-corrections-select">
          <md-option *ngFor="let option of PRIMER_SALT_CORRECTIONS_OPTIONS" [value]="option.value">
            {{option.viewValue}}
          </md-option>
        </md-select>
      </td>
    </tr>
    <tr>
      <td>
        <label for="PRIMER_TM_FORMULA">Table of thermodynamic parameters</label>
      </td>
      <td colspan="2">
        <md-select [(ngModel)]="PRIMER_TM_FORMULA" name="option" class="tm-formula-select">
          <md-option *ngFor="let option of PRIMER_TM_FORMULA_OPTIONS" [value]="option.value">
            {{option.viewValue}}
          </md-option>
        </md-select>
      </td>
    </tr>

  </table>
  </form>

<hr>

<!-- Additional Settings -->
<h4>Additional Settings</h4>

<hr>

<!-- Specificity Checking -->
<h4>Specificity Checking</h4>
<table class="settings_table">
  <tr>
    <td>
      <label for="GENOME">Genome</label>
    </td>
    <td colspan="2">
      <md-select [(ngModel)]="GENOME" name="option" class="example-full-width">
        <md-option *ngFor="let option of GENOME_OPTIONS" [value]="option.value">
          {{option.viewValue}}
        </md-option>
      </md-select>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      Primer must have at least 
      <md-input-container class="specificity-checking-input">
        <input mdInput type="number" [(ngModel)]="TOTAL_SPECIFICITY_MISMATCH" size="1">
      </md-input-container>
      total mismatches to unintended targets. &nbsp;
      Including at least 
      <md-input-container class="specificity-checking-input">
        <input mdInput type="number" [(ngModel)]="SEND_SPECIFICITY_MISMATCH" size="1">
      </md-input-container>
      mismatches within the last 
      <md-input-container class="specificity-checking-input">
        <input mdInput type="number" [(ngModel)]="SEND_MISMATCH_REGION_LENGTH" size="1">
      </md-input-container>
      bps at the 3' end.
      Ignore targets that have 
      <md-input-container class="specificity-checking-input">
        <input mdInput type="number" [(ngModel)]="TOTAL_MISMATCH_IGNORE" size="1">
      </md-input-container>
      or more mismatches to the primer.
    </td>
  </tr>
  <tr>
    <td>
      <label for="MAX_TARGET_SIZE">Max target size</label>
    </td>
    <td colspan="2">
      <md-input-container class="example-full-width">
        <input mdInput type="number" [(ngModel)]="MAX_TARGET_SIZE">
      </md-input-container>
    </td>
  </tr>
</table>

<hr>

<!-- Submit and reset -->
<table class="settings_table">
  <tr>
    <td class="submit_button">
      <button md-raised-button (click)="submit()">Submit</button>
    </td>
    <td class="reset_button">
      <button md-raised-button (click)="reset()">Reset</button>  
    </td>
  </tr>
</table>

<!-- Result container -->
<div class="result" id="result">
</div>
