<form class="example-form">
  <mat-form-field class="param-field">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="paramOption">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button (click)="add()">Add</button>
</form>

<form [formGroup]="formGroup" novalidate>
<table class="param_table">
  <tr *ngFor="let p of selectedParams">

    <!-- Form type is input text or input number -->
    <td *ngIf="p.form_type == 'input_text' || p.form_type == 'input_number'">
      <label for="{{p.name}}">
        {{p.name}} ({{p.type}})
        <button mat-icon-button (click)="dDialogService.showDescription(p.name)" class="help-button">
          <mat-icon>help</mat-icon>
        </button>
      </label>
    </td>

    <!-- Form type is input text -->
    <td *ngIf="p.form_type == 'input_text'">
      <input matInput formControlName="{{p.name}}" type="text" pInputText placeholder="{{p.default_value}}" id="{{p.name}}">
    </td>

    <!-- Form type is input number -->
    <td *ngIf="p.form_type == 'input_number'">
      <input matInput formControlName="{{p.name}}" type="number" pInputText placeholder="{{p.default_value}}" id="{{p.name}}" >
    </td>

    <!-- Form type is checkbox -->
    <td title="{{p.description}}" *ngIf="p.form_type == 'checkbox'">
      <mat-checkbox align="right">{{p.name}}</mat-checkbox>
      <button mat-icon-button (click)="dDialogService.showDescription(p.name)" class="help-button">
        <mat-icon>help</mat-icon>
      </button>
    </td>
    <td *ngIf="p.form_type == 'checkbox'"> </td>

    <td>
      <button mat-icon-button (click)="remove(p.name)" class="help-button" title="Remove Additional Parameter">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </td>

  </tr>
</table>
</form>
